<div class="table">
<%= render 'header' %>
<%= render 'hero' %>
</div>
<%= render 'register' %>
<%= render 'hotels' %>
<%= render 'agenda' %>
<%= render 'events' %>
<%= render 'service' %>
<%= render 'footer' %>